<div class="jumbotron">
    <div class="panel panel-primary" style="display: inline-block;">
        <div class="panel-heading">
            <h3 class="panel-title">Average Cigarettes Per Day</h3>
        </div>
        <div class="panel-body">@ViewBag.LogStats.TotalAverage</div>
    </div>
    <div class="panel panel-primary" style="display: inline-block;">
        <div class="panel-heading">
            <h3 class="panel-title">Average Packs Per Week</h3>
        </div>
        <div class="panel-body">@ViewBag.LogStats.TotalPacksPerWeek</div>
    </div>
    <div class="panel panel-primary" style="display: inline-block;">
        <div class="panel-heading">
            <h3 class="panel-title">Average Cigarettes Past 7 Days</h3>
        </div>
        <div class="panel-body">@ViewBag.LogStats.LastWeekAverage</div>
    </div>
    <div class="panel panel-primary" style="display: inline-block;">
        <div class="panel-heading">
            <h3 class="panel-title">Packs Smoked Past 7 Days</h3>
        </div>
        <div class="panel-body">@ViewBag.LogStats.LastWeekPacks</div>
    </div>
</div>